.navbar-nav{
	float: right;
}
.navbar-brand{
	padding-left: 50px;
}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#product-price {
	font-size: 40px;
}